.CartItems {
  max-width: 820px;
  margin: 0 auto;

  .arrowBack {
    padding: 2px 5px 0 0;
  }

  .header {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 30px;
    border-bottom: 1px solid #F4F4F4;;

    .headerLeft {
      font-weight: 700;
      font-size: 32px;
    }

    .headerRight {
      font-weight: 400;
      font-size: 16px;
      color: #B6B6B6;
      cursor: pointer;
      display: flex;
      align-items: center;

      .text {
        font-size: 19px;
        margin-left: 10px;
      }
    }
  }

  .itemsContainer {
    padding-top: 30px;
  }

  .footer {
    margin-top: 50px;

    .sum {
      display: flex;
      justify-content: space-between;
      letter-spacing: 0.01em;
      font-size: 22px;

      span {
        font-weight: 700;
      }
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      .back {
        color: #CACACA;
        font-size: 16px;
        border: 1px solid #D3D3D3;
        background: #FFFFFF;
      }

      .pay {
        background: #FE5F1E;
        color: white;
        font-size: 16px;
      }

      button {
        width: 211px;
        height: 55px;
        box-sizing: border-box;
        border-radius: 30px;
      }
    }
  }
}

.cartContainer {
  .emptyCart {
    max-width: 547px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;

    .title {
      font-weight: 700;
      font-size: 32px;
      letter-spacing: 0.01em;
      margin-top: 30px;

      img {
        width: 32px;
        height: 32px;
      }
    }

    .text {
      margin: 10px 0 20px 0;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 0.01em;
      color: #777777;
    }

    .cartImage {
      width: 300px;
      height: 255px;
    }

    .button {
      color: #ffffff;
      width: 210px;
      height: 46px;
      background: #282828;
      border-radius: 30px;
      margin: 35px auto 0 auto;
      font-weight: 700;
      font-size: 16px;
      line-height: 43px;
      letter-spacing: 0.015em;
      cursor: pointer;
    }
  }
}