.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 15px 30px 15px;
  border-bottom: 1px solid #F7F7F7;

  .headerLeft {
    width: 350px;
    cursor: pointer;

    .logo {
      display: block;
      float: left;
      width: 38px;
      height: 38px;
      margin-right: 15px;
    }

    .title {
      font-weight: 800;
      font-size: 24px;
      letter-spacing: 0.01em;
      color: #181818;
    }

    .slogan {
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      color: #7B7B7B;

    }
  }

  .headerRight {
    &:active {
      border: 1px solid rgba(#000, .05);
      transition: all 250ms linear;
    }

    width: 150px;
    height: 50px;
    background: #FE5F1E;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    line-height: 25px;
    cursor: pointer;
    color: #ffffff;
    font-weight: 700;

    &:hover {
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.36);
    }

    .leftPart {
      padding-left: 10px;
      margin: 12px 0;
      text-align: center;
    }

    .border {
      border-right: 1px solid black;
      margin: 12px 0;
    }

    .rightPart {
      padding-right: 10px;
      margin: 12px 0;

      .cart {
        margin: 3px 5px 0 0;
      }
    }
  }
}